    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="/resources/css/styleguide.css" />
    <link rel="stylesheet" href="/resources/css/styles-figma.css" />
  </head>
  <body>
    <div class="thumbnail">
      <div class="div">
        <div class="overlap-group">
          <img class="element" src="img/image.png" /> <img class="element-px" src="img/192-0px.png" />
        </div>
        <div class="group">
          <div class="group-2">
            <div class="saas-landing-page">SaaS<br />Landing Page</div>
            <div class="div-wrapper"><div class="text-wrapper">Free Figma Template</div></div>
          </div>
          <div class="frame">
            <div class="figma-wrapper"><img class="figma" src="img/figma.svg" /></div>
            <div class="text-wrapper-2">Free Download</div>
          </div>
        </div>
        <div class="logo">
          <div class="logo-2">
            <img class="logo-icon" src="img/logo-icon.svg" />
            <div class="text-wrapper-3">whitepace</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
