<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SETRALOG</title>
    <link rel="stylesheet" href="/resources/css/styles-index.css"> <!-- Vincula tu CSS aquí -->
</head>
<body>

    <h1> Página de inicio </h1>

    <h2>el usuaruo conectadoo es: <%= msg %> </h2>

</body>
</html>
