<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/resources/css/styles-login.css"> <!-- Vincula tu CSS aquí -->
</head>
<body>

  <div class="login-form">
    <h2>Login </h2>
    <form acction="auth" method="POST">
        <input type="text" name="user" id="user" placeholder="Correo electronico" required>
        <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
        <input type="submit" class="btn-login" value="Login">
    </form>
    <a href="register" class="btn-register">Register</a>

  </div>

</body>
</html>
