<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Descripci칩n de la p치gina web">
    <title>Registro</title>
    <link rel="stylesheet" href="/resources/css/styles-registro.css"> <!-- Enlace al archivo CSS -->
</head>
<body>

    <div class="registro-form">
        <h1>Registro de usuarios</h1>
        <form   action="registrar" method="POST">
            <label for="correo"> Correo electronico</label>
            <input type="email"name="email" required>

            <label for="contrase침a">Contrase침a</label>
            <input type="password"name="password" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancelar">cancelar</a> <input type="submit" class= "btn-guardar"value ="Guardar">
            </div>

            </form>
    </div>

</body>
</html>
